:root {
  --backgrounddisabled-0: rgba(248, 250, 251, 1);
  --backgroundhover-50: rgba(236, 239, 243, 1);
  --backgroundnormal-25: rgba(246, 248, 250, 1);
  --backgroundpressed-100: rgba(223, 225, 231, 1);
  --backgroundwhite: rgba(255, 255, 255, 1);
  --form-button-destructive-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(183, 24, 54, 1), 0px 1px 2px 0px rgba(113, 14, 33, 0.5);
  --form-button-destructive-normal: 0px 0px 0px 1px rgba(183, 24, 54, 1), 0px 1px 2px 0px rgba(113, 14, 33, 0.5);
  --form-button-ghost-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1);
  --form-button-primary-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(79, 71, 235, 1), 0px 1px 2px 0px rgba(26, 19, 161, 0.5);
  --form-button-primary-normal: 0px 0px 0px 1px rgba(79, 71, 235, 1), 0px 1px 2px 0px rgba(26, 19, 161, 0.5);
  --form-button-secondary-active: 0px 0px 0px 3px rgba(95, 87, 255, 0.5), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.4);
  --form-button-secondary-normal: 0px 0px 0px 1px rgba(18, 55, 105, 0.08), 0px 1px 2px 0px rgba(164, 172, 185, 0.24);
  --label-small-font-family: "Inter-Medium", Helvetica;
  --label-small-font-size: 14px;
  --label-small-font-style: normal;
  --label-small-font-weight: 500;
  --label-small-letter-spacing: 0px;
  --label-small-line-height: 20px;
  --label-xsmall-font-family: "Inter-Medium", Helvetica;
  --label-xsmall-font-size: 12px;
  --label-xsmall-font-style: normal;
  --label-xsmall-font-weight: 500;
  --label-xsmall-letter-spacing: 0px;
  --label-xsmall-line-height: 16px;
  --neutralblack: rgba(0, 0, 0, 1);
  --primary-t: rgba(23, 23, 23, 1);
  --secondary-bg: rgba(244, 244, 246, 1);
  --secondary-t: rgba(153, 156, 160, 1);
  --secondaryred-100: rgba(223, 28, 65, 1);
  --secondaryred-200: rgba(150, 19, 44, 1);
  --text-feat-font-family: "Inter-Medium", Helvetica;
  --text-feat-font-size: 42px;
  --text-feat-font-style: normal;
  --text-feat-font-weight: 500;
  --text-feat-letter-spacing: -1.26px;
  --text-feat-line-height: 48px;
  --text-h3-font-family: "Inter-Medium", Helvetica;
  --text-h3-font-size: 18px;
  --text-h3-font-style: normal;
  --text-h3-font-weight: 500;
  --text-h3-letter-spacing: -0.36px;
  --text-h3-line-height: 120.00000476837158%;
  --text-pill-font-family: "Inter-Medium", Helvetica;
  --text-pill-font-size: 12px;
  --text-pill-font-style: normal;
  --text-pill-font-weight: 500;
  --text-pill-letter-spacing: -0.12px;
  --text-pill-line-height: 120.00000476837158%;
  --text-t2-font-family: "Inter-SemiBold", Helvetica;
  --text-t2-font-size: 13px;
  --text-t2-font-style: normal;
  --text-t2-font-weight: 600;
  --text-t2-letter-spacing: -0.13px;
  --text-t2-line-height: 16px;
  --textdisabled-300: rgba(164, 172, 185, 1);
  --textloud-900: rgba(13, 13, 18, 1);
  --textmuted-600: rgba(54, 57, 74, 1);
  --textnormal-500: rgba(102, 109, 128, 1);
  --textsubdued-400: rgba(129, 136, 152, 1);
  --textwhite: rgba(255, 255, 255, 1);
  --whitewhite: rgba(255, 255, 255, 1);
}
