.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
}

.desktop .div {
  background-color: #ffffff;
  border: 1px none;
  height: 2025px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.desktop .overlap {
  height: 1842px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 1442px;
}

.desktop .group {
  height: 491px;
  left: 1px;
  position: absolute;
  top: 1px;
  width: 1440px;
}

.desktop .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
  left: 371px;
  position: absolute;
  top: 157px;
  width: fit-content;
}

.desktop .frame-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  position: relative;
  width: fit-content;
}

.desktop .frame-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: fit-content;
}

.desktop .BLUR-lending-taken-wrapper {
  -webkit-backdrop-filter: blur(14px) brightness(100%);
  align-items: flex-start;
  backdrop-filter: blur(14px) brightness(100%);
  background-color: #f7f6ff;
  border: 1px solid;
  border-color: #fbfdff99;
  border-radius: 20px;
  box-shadow: inset 0px -4px 4px #0000000a, inset 0px 4px 4px #ffffff;
  display: flex;
  gap: 10px;
  padding: 10px 16px;
  position: relative;
  width: fit-content;
}

.desktop .BLUR-lending-taken {
  color: transparent;
  font-family: var(--label-xsmall-font-family);
  font-size: var(--label-xsmall-font-size);
  font-style: var(--label-xsmall-font-style);
  font-weight: var(--label-xsmall-font-weight);
  letter-spacing: var(--label-xsmall-letter-spacing);
  line-height: var(--label-xsmall-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.desktop .text-wrapper {
  color: #0038ff;
  font-family: var(--label-xsmall-font-family);
  font-size: var(--label-xsmall-font-size);
  font-style: var(--label-xsmall-font-style);
  font-weight: var(--label-xsmall-font-weight);
  letter-spacing: var(--label-xsmall-letter-spacing);
  line-height: var(--label-xsmall-line-height);
}

.desktop .span {
  color: #353849;
  font-family: var(--label-xsmall-font-family);
  font-size: var(--label-xsmall-font-size);
  font-style: var(--label-xsmall-font-style);
  font-weight: var(--label-xsmall-font-weight);
  letter-spacing: var(--label-xsmall-letter-spacing);
  line-height: var(--label-xsmall-line-height);
}

.desktop .frame-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.desktop .frame-5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.desktop .frame-6 {
  align-items: center;
  display: flex;
  gap: 29px;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-2 {
  color: var(--neutralblack);
  font-family: "Inter", Helvetica;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -2.56px;
  line-height: 72px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.desktop .vector {
  height: 48.58px;
  min-width: 108.96px;
  position: relative;
}

.desktop .text-wrapper-3 {
  color: var(--neutralblack);
  font-family: "Inter", Helvetica;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -2.56px;
  line-height: 72px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.desktop .p {
  color: var(--textnormal-500);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  line-height: 21.6px;
  position: relative;
  text-align: center;
  width: 502px;
}

.desktop .frame-7 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.desktop .frame-8 {
  align-items: flex-start;
  display: flex;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.desktop .frame-9 {
  background-color: #f8f9fb;
  border: 1px solid;
  border-color: #eceff3;
  border-radius: 10px;
  height: 400px;
  min-width: 273px;
  position: relative;
}

.desktop .overlap-group {
  height: 187px;
  left: 23px;
  position: absolute;
  top: 70px;
  width: 226px;
}

.desktop .rectangle {
  background-color: #eceff3;
  border-radius: 10px;
  height: 148px;
  left: 15px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 195px;
}

.desktop .rectangle-2 {
  background-color: #eceff3;
  border-radius: 10px;
  height: 158px;
  left: 9px;
  opacity: 0.6;
  position: absolute;
  top: 5px;
  width: 207px;
}

.desktop .overview-card {
  align-items: flex-start;
  background-color: var(--backgroundhover-50);
  border-radius: 12px;
  display: flex;
  height: 174px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 13px;
  width: 226px;
}

.desktop .info {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: relative;
}

.desktop .currency-eth {
  height: 32px;
  min-width: 32px;
  position: relative;
}

.desktop .info-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.desktop .caption {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 4px;
  position: relative;
}

.desktop .text-wrapper-4 {
  color: var(--secondary-t);
  font-family: var(--text-t2-font-family);
  font-size: var(--text-t2-font-size);
  font-style: var(--text-t2-font-style);
  font-weight: var(--text-t2-font-weight);
  letter-spacing: var(--text-t2-letter-spacing);
  line-height: var(--text-t2-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .text-wrapper-5 {
  align-self: stretch;
  color: var(--primary-t);
  font-family: var(--text-feat-font-family);
  font-size: var(--text-feat-font-size);
  font-style: var(--text-feat-font-style);
  font-weight: var(--text-feat-font-weight);
  letter-spacing: var(--text-feat-letter-spacing);
  line-height: var(--text-feat-line-height);
  position: relative;
  white-space: nowrap;
}

.desktop .component {
  align-items: center;
  background-color: #fcfcfc;
  border: 1px solid;
  border-color: #bbc6d838;
  border-radius: 34px;
  display: flex;
  gap: 4px;
  justify-content: center;
  padding: 4px 12px;
  position: relative;
  width: fit-content;
}

.desktop .UI-icon-up {
  height: 12px !important;
  min-width: 12px !important;
  position: relative !important;
}

.desktop .element-this-week {
  color: transparent;
  font-family: var(--text-pill-font-family);
  font-size: var(--text-pill-font-size);
  font-style: var(--text-pill-font-style);
  font-weight: var(--text-pill-font-weight);
  letter-spacing: var(--text-pill-letter-spacing);
  line-height: var(--text-pill-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .text-wrapper-6 {
  color: #37c177;
  font-family: var(--text-pill-font-family);
  font-size: var(--text-pill-font-size);
  font-style: var(--text-pill-font-style);
  font-weight: var(--text-pill-font-weight);
  letter-spacing: var(--text-pill-letter-spacing);
  line-height: var(--text-pill-line-height);
}

.desktop .text-wrapper-7 {
  color: #999ca0;
  font-family: var(--text-pill-font-family);
  font-size: var(--text-pill-font-size);
  font-style: var(--text-pill-font-style);
  font-weight: var(--text-pill-font-weight);
  letter-spacing: var(--text-pill-letter-spacing);
  line-height: var(--text-pill-line-height);
}

.desktop .frame-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 19px;
  position: absolute;
  top: 328px;
  width: fit-content;
}

.desktop .text-wrapper-8 {
  color: var(--textmuted-600);
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.64px;
  line-height: 19.2px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .text-wrapper-9 {
  color: var(--textnormal-500);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.48px;
  line-height: 14.4px;
  position: relative;
  width: 233px;
}

.desktop .frame-11 {
  background-color: #f8f9fb;
  border: 1px solid;
  border-color: #eceff3;
  border-radius: 10px;
  height: 192px;
  min-width: 411px;
  position: relative;
}

.desktop .frame-12 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  left: 19px;
  position: absolute;
  top: 134px;
  width: fit-content;
}

.desktop .text-wrapper-10 {
  color: var(--textnormal-500);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.48px;
  line-height: 14.4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .frame-13 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 19px;
  position: absolute;
  top: 44px;
  width: fit-content;
}

.desktop .text-wrapper-11 {
  color: var(--textloud-900);
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: 169px;
}

.desktop .slider-types {
  align-items: center;
  display: flex;
  gap: 8px;
  position: relative;
  width: 371px;
}

.desktop .text-wrapper-12 {
  color: var(--secondary-t);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 12px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.desktop .base-slider {
  align-items: flex-start;
  background-color: var(--secondary-bg);
  border-radius: 100px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 0px 120px 0px 0px;
  position: relative;
}

.desktop .fill {
  align-self: stretch;
  background-color: #44475b;
  border-radius: 100px;
  height: 6px;
  min-width: 190px;
  position: relative;
}

.desktop .handle {
  background-color: var(--whitewhite);
  border: 4px solid;
  border-color: #44475b;
  border-radius: 10px;
  height: 20px;
  left: 184px;
  position: relative;
  top: -7px;
  width: 20px;
}

.desktop .overlap-group-wrapper {
  height: 50px;
  left: 258px;
  position: absolute;
  top: 63px;
  width: 115px;
}

.desktop .overlap-group-2 {
  height: 50px;
  position: relative;
}

.desktop .cursor {
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 27px;
}

.desktop .comment {
  position: relative;
  top: 20px;
  left: 20px;
  display: inline-flex;
padding: 2px 10px;
align-items: flex-start;
gap: 8px;
border-radius: 24px;
border: 2px solid #3351F2;
background: #3351F2;
}

.desktop .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -2px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .overlap-2 {
  height: 66px;
  left: 18px;
  position: absolute;
  top: 33px;
  width: 220px;
}

.desktop .ellipse {
  height: 66px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 66px;
}

.desktop .img {
  height: 66px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 66px;
}

.desktop .ellipse-2 {
  height: 66px;
  left: 85px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 66px;
}

.desktop .ellipse-3 {
  height: 66px;
  left: 115px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 66px;
}

.desktop .ellipse-4 {
  height: 66px;
  left: 154px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 66px;
}

.desktop .frame-14 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 47px;
  position: relative;
  width: fit-content;
}

.desktop .frame-15 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  position: relative;
  width: 700px;
}

.desktop .frame-16 {
  align-items: center;
  display: flex;
  gap: 10px;
  position: relative;
  width: fit-content;
}

.desktop .coolwater-s {
  color: var(--textnormal-500);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.72px;
  line-height: 21.6px;
  position: relative;
  text-align: center;
  width: 608px;
}

.desktop .div-wrapper {
  height: 261px;
  min-width: 700px;
  position: relative;
}

.desktop .overlap-group-3 {
  height: 253px;
  left: 110px;
  position: relative;
  top: 8px;
  width: 481px;
}

.desktop .rectangle-3 {
  background-color: #fdfdfd;
  border: 1px solid;
  border-color: #3251f40f;
  border-radius: 10px;
  height: 203px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 431px;
}

.desktop .rectangle-4 {
  background-color: #fdfdfd;
  border: 1px solid;
  border-color: #3251f40f;
  border-radius: 10px;
  height: 213px;
  left: 14px;
  position: absolute;
  top: 12px;
  width: 453px;
}

.desktop .frame-17 {
  align-items: flex-start;
  background-color: #fafafa;
  border: 1px solid;
  border-color: #3251f40f;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  left: 0;
  overflow: hidden;
  padding: 18px 14px;
  position: absolute;
  top: 23px;
  width: 481px;
}

.desktop .frame-18 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 12px;
  position: relative;
}

.desktop .ellipse-5 {
  height: 48px;
  min-width: 48px;
  object-fit: cover;
  position: relative;
}

.desktop .frame-19 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-14 {
  color: #383431;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 12px;
  margin-top: -1px;
  opacity: 0.4;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .text-wrapper-15 {
  color: #383431;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.8px;
  line-height: 20px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .frame-20 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.desktop .frame-21 {
  align-items: center;
  align-self: stretch;
  border-radius: 11px;
  display: flex;
  gap: 36px;
  position: relative;
}

.desktop .frame-22 {
  align-items: flex-start;
  background-color: #fdedd5;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 11px;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-16 {
  color: #383431;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.8px;
  line-height: 20px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .frame-23 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-17 {
  color: #383431;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.64px;
  line-height: 16px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .frame-24 {
  align-items: flex-start;
  background-color: #dcf1f1;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  padding: 11px;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-18 {
  color: #383431;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.48px;
  line-height: 12px;
  margin-top: -1px;
  opacity: 0.4;
  position: relative;
  white-space: nowrap;
  width: 62px;
}

.desktop .button {
  display: flex;
padding: 8px 10px;
justify-content: center;
align-items: center;
gap: 6px;
align-self: stretch;
border-radius: 26px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), #3351F2;
box-shadow: 0px 0px 0px 1px #364ED1, 0px 1px 2px 0px rgba(32, 41, 129, 0.58);
}

.desktop .overlap-wrapper {
  align-self: stretch;
  border: 3px solid;
  border-color: #3553f240;
  border-radius: 10px;
  height: 275px;
  margin-bottom: -3px;
  margin-left: -3px;
  margin-right: -3px;
  min-width: 706px;
  overflow: hidden;
  position: relative;
}

.desktop .overlap-3 {
  height: 269px;
  align-self: stretch;
}

.desktop .rectangle-5 {
  width: 700px;
  height: 269px;
  flex-shrink: 0;
  border-radius: 10px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), #3351F2;
box-shadow: 0px 0px 0px 1px #364ED1, 0px 1px 2px 0px rgba(32, 41, 129, 0.58);
}

.desktop .frame-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 7px;
  left: 24px;
  position: absolute;
  top: 32px;
  width: fit-content;
}

.desktop .text-wrapper-19 {
  color: var(--textwhite);
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.96px;
  line-height: 31.2px;
  margin-top: -1px;
  position: relative;
  width: 294px;
}

.desktop .text-wrapper-20 {
  color: var(--textwhite);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.48px;
  line-height: 14.4px;
  opacity: 0.8;
  position: relative;
  width: 242px;
}

.desktop .slice {
  width: 367px;
  height: 281px;
  flex-shrink: 0;
  border-radius: 16px;
background: rgba(255, 255, 255, 0.25);
}

.desktop .slice-2 {
  height: 243px;
  left: 355px;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 345px;
}
.desktop .slice-3 {
  height: 243px;
  left: 364px;
  object-fit: cover;
  position: absolute;
  top: 35px;
  width: 345px;
}


.desktop .group-2 {
  height: 50px;
  left: 150px;
  position: absolute;
  top: 178px;
  width: 142px;
}


.desktop .overlap-group-4 {
  height: 51px;
  position: relative;
  width: 143px;
}

.desktop .comment-2 {
  align-items: center;
  background-color: #f6f4ff;
  border: 1px solid;
  border-color: #d7d8db;
  border-radius: 24px;
  box-shadow: inset 0px -2px 2px #1113162b, inset 2px 2px 3px #ffffff;
  display: flex;
  gap: 4px;
  justify-content: center;
  left: 21px;
  padding: 2px 10px;
  position: absolute;
  top: 21px;
  width: fit-content;
}

.desktop .text-wrapper-21 {
  color: #3855f2;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .img-2 {
  height: 16px;
  min-width: 16px;
  position: relative;
}

.desktop .twenty-four {
  height: 46px !important;
  left: 40px !important;
  top: 194px !important;
  width: 47px !important;
}

.desktop .thirty-seven {
  height: 37px !important;
  left: 24px !important;
  top: 173px !important;
  width: 48px !important;
}

.desktop .frame-wrapper {
  -webkit-backdrop-filter: blur(24px) brightness(100%);
  align-items: center;
  backdrop-filter: blur(24px) brightness(100%);
  background-color: #ffffffcc;
  border: 1px solid;
  border-color: #bac6d74c;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 8px 18px;
  position: absolute;
  top: 0;
  width: 1442px;
}

.desktop .frame-26 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1164px;
}

.desktop .left {
  align-items: center;
  display: flex;
  gap: 32px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.desktop .logo {
  height: 18px;
  min-width: 147.09px;
  position: relative;
}

.desktop .menus {
  align-items: center;
  display: flex;
  gap: 24px;
  position: relative;
  width: fit-content;
}

.desktop .menu {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-22 {
  color: var(--secondary-t);
  font-family: var(--text-h3-font-family);
  font-size: var(--text-h3-font-size);
  font-style: var(--text-h3-font-style);
  font-weight: var(--text-h3-font-weight);
  letter-spacing: var(--text-h3-letter-spacing);
  line-height: var(--text-h3-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.desktop .button-2 {
  cursor: pointer;
  display: flex;
padding: 6px 8px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 26px;
background: linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0.00) 100%), #3351F2;
box-shadow: 0px 0px 0px 1px #364ED1, 0px 1px 2px 0px rgba(32, 41, 129, 0.58);
}
.desktop .text-wrapper-26{
  color: var(--text-white, #FFF);
text-align: center;

/* text-t4 */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
letter-spacing: -0.28px;
}

.desktop .text-wrapper-23 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: -2px;
  position: absolute;
  top: 1930px;
  width: 1442px;
}

.desktop .wrap-2 {
  align-items: center;
  display: flex;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: fit-content;
}

.desktop .text-wrapper-24 {
  color: var(--textsubdued-400);
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  line-height: 16px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 180px;
}

.desktop .divider {
  align-self: stretch;
  height: 1px;
  min-width: 1440px;
  object-fit: cover;
  position: relative;
}

.desktop .text-wrapper-25 {
  color: var(--textsubdued-400);
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 384px;
}
